<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragmentos::encabezado(~{::title}, ~{})">
  <title>Editar Preferencias</title>

</head>

<body>

<header th:replace="fragmentos::cabecera"></header>

<nav th:replace="fragmentos::navbar"></nav>

<main class="container py-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-4 ">
      <form method="post" action="#"
            th:action="@{/prefs/edit/submit}"
            th:object="${preferenciasForm}">
        <h2 class="mb-3 bg-secondary text-white text-center">Editar preferencias</h2>
          <br>
          <input type="hidden" id="id" name="id" th:field="*{id}" />
          <div class="col-6 form-check form-switch">
            <input type="checkbox" class="form-check-input" id="darkMode" th:field="*{darkMode}">
            <label class="form-check-label" for="darkMode">Activar modo oscuro</label>
          </div>
          <br>
          <div class="col-6">
            <label for="idioma">Idioma</label>
            <select id="idioma" th:field="*{idioma}">
              <option th:each="opcion : ${opcionesIdioma}" th:value="${opcion.key}" th:text="${opcion.value}"></option>
            </select>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Enviar</button>
      </form>

    </div>

  </div>
</main>

<footer th:replace="fragmentos::pie_pagina"></footer>

<th:block th:replace="fragmentos::jsfinal(~{})"></th:block>


</body>
</html>

